<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/404.css">
  <title>Page is not found</title>
</head>
<body>
  <div class="logo">
    <i class="fa-solid fa-brain fa-sm"></i>
    Quizzyy!
  </div>
  <div class="page-not-found">
    Sorry, this page doesn't exist
  </div>
  <img src="https://i.pinimg.com/originals/5b/27/01/5b270123bd7f65a53d4f889baa8609d7.gif">
</body>
</html>
