<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Quiz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,700&family=Rajdhani:wght@500&display=swap"
    rel="stylesheet">
  <style>



  </style>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="home">
    <a href="/">
      <button class="home-button">HOME</button>
    </a>
  </div>
  <Header>
    <div class="logo">
      <i class="fa-solid fa-brain fa-sm"></i>
      Quizzyy!
    </div>
  </Header>

  <main class="main">
    <h5 class="create-quiz">Create a Quiz</h5>
    <form method="POST">
      <div class="question"><input placeholder="Type your question here" class="question-input"></div>
      <div class="correct"><input style="font-family: Rajdhani, FontAwesome;" placeholder="&#xf058 Type the correct answer here" class="correct-input"></div>
      <div class="wrong">
        <input style="font-family: Rajdhani, FontAwesome;" placeholder="&#xf057 Type a wrong answer here" class="wrong-input">
        <input style="font-family: Rajdhani, FontAwesome;" placeholder="&#xf057 Type a wrong answer here" class="wrong-input">
        <input style="font-family: Rajdhani, FontAwesome;" placeholder="&#xf057 Type a wrong answer here" class="wrong-input">
      </div>
      <div class="buttons">
        <div></div>
        <button class="next-question" type="submit">Add Question</button>
        <button class="submit-quiz" type="submit">Submit Quiz</button>
      </div>
    </form>
  </main>


</body>

</html>
