<!DOCTYPE html>
<html lang="en">

<head>
  <title>QUIZZYY! </title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="/scripts/dropdown-menu.js"></script>
</head>


<body class="body">

  <div class="logo">
    Quizzyy!
  </div>
  <main class="main-menu">
    <form class="new-quiz">
      <button class="new-quiz-button">
        Create a New Quiz
      </button>
    </form>

    <form class="join-quiz">
      <button class="join-quiz-button">
        Join a Quiz
      </button>
    </form>
  </main>


</body>

</html>
