<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="logo">
    Quizzyy!
  </div>
  <main class="main-menu">
    <form class="new-quiz">
      <button class="new-quiz-button">
        Create a new Quiz
      </button>
    </form>

    <form class="join-quiz">
      <button class="join-quiz-button">
        Join Quiz
      </button>
    </form>
  </main>


</body>

</html>
