<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzyy! Score</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,700&family=Rajdhani:wght@500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/styles/results.css" type="text/css" />

  <style>
  </style>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/routes/results.js"></script>
</head>

<body>
  <div class="home">
    <a href="/">
      <button class="home-button">HOME</button>
    </a>
  </div>
  <Header>
    <div class="logo">
      Quizzyy!
    </div>
  </Header>

  <main class="main">
    <h5 class="score">Your score is:</h5>
    <form method="GET">
      <h2 class="quiz-result">9/10</h2>
      <div class="buttons">
        <div></div>
        <button class="share-results" type="submit">Share your results</button>
        <button class="reattempt-quiz" type="submit">Reattempt this quiz</button>
      </div>
    </form>
  </main>


</body>

</html>
