body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Philosopher';
  font-size: 80pt;
}
.next-question {
  margin-bottom: 30px;
  background-color:#7aba96 ;
  border: none;
  font-size: 18pt;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

input {
  margin : 1em 0em 1em 0em;
  padding: 12px 20px;
  background-color:rgba(245, 245, 245, 0.776);
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}
.create-quiz {
  margin-bottom: 5px;
  font-size: 28px;
  font-family: 'Rajdhani', sans-serif;
}

div {
  width: 100%;
}

input {
  width: 75%;
}

.home {
  display: flex;
  align-content: end;
  justify-content: flex-end;
  width: 75%;
  margin-top: em;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.correct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.wrong {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24%;
  width: 75%;
}
.buttons div {
  width: 13%
}
//

.next-question {
  // margin-top: 20px;
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  height: 60px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.next-question:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.next-question:hover:after {
  transform: translate(0, 0);
}

.next-question:active {
  background-color: #7aba96;
  outline: 0;
}

.next-question :hover {
  outline: 0;
}

@media (min-width: 768px) {
  .next-question  {
    padding: 0 40px;
  }
}

.submit-quiz {
  margin-bottom: 30px;
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  // font-family: Inter,sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  height: 60px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-quiz:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.submit-quiz:hover:after {
  transform: translate(0, 0);
}

.submit-quiz:active {
  background-color: #7aba96;
  outline: 0;
}

.submit-quiz :hover {
  outline: 0;
}

@media (min-width: 768px) {
  .submit-quiz  {
    padding: 0 40px;
  }
}

.home-button {
margin-top: 30px;
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.home-button:hover:after {
  transform: translate(0, 0);
}

.home-button:active {
  background-color: #7aba96;
  outline: 0;
}

.home-button:hover {
  outline: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7aba96;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(83, 136, 104);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0b5024;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  display: flex;
  width: 75%;
  align-items: flex-end;
  justify-items: flex-end;
}

.private {
  padding-top: 1em;
  margin-left: 1em;
}

@media (min-width: 768px) {
  .home-button{
    padding: 0 40px;
  }
}

//delete after if not used


	// h1 {
	// 	color: green;
	// }

	// /* toggle in label designing */
	// .toggle {
	// 	position : relative ;
	// 	display : inline-block;
	// 	width : 100px;
	// 	height : 52px;
	// 	background-color: red;
	// 	border-radius: 30px;
	// 	border: 2px solid gray;
	// }

	// /* After slide changes */
	// .toggle:after {
	// 	content: '';
	// 	position: absolute;
	// 	width: 50px;
	// 	height: 50px;
	// 	border-radius: 50%;
	// 	background-color: gray;
	// 	top: 1px;
	// 	left: 1px;
	// 	transition: all 0.5s;
	// }

	// /* Toggle text */
	// p {
	// 	font-family: Arial, Helvetica, sans-serif;
	// 	font-weight: bold;
	// }

	// /* Checkbox checked effect */
	// .checkbox:checked + .toggle::after {
	// 	left : 49px;
	// }

	// /* Checkbox checked toggle label bg color */
	// .checkbox:checked + .toggle {
	// 	background-color: green;
	// }

	// /* Checkbox vanished */
	// .checkbox {
	// 	display : none;
	// }
