body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Philosopher';
  font-size: 80pt;
}
.next-question {
  background-color:#7aba96 ;
  border: none;
  font-size: 18pt;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

input {
  margin : 1em 0em 1em 0em;
  padding: 12px 20px;
  background-color:rgba(245, 245, 245, 0.776);
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}
.create-quiz {
  font-size: 28px;
  font-family: 'Rajdhani', sans-serif;
}

div {
  width: 100%;
}

input {
  width: 75%;
}

.home {
  display: flex;
  align-content: end;
  justify-content: flex-end;
  width: 75%;
  margin-top: em;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.correct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.wrong {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24%;
  width: 75%;
}
.buttons div {
  width: 13%
}
//

.next-question {
  // margin-top: 20px;
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  height: 60px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.next-question:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.next-question:hover:after {
  transform: translate(0, 0);
}

.next-question:active {
  background-color: #7aba96;
  outline: 0;
}

.next-question :hover {
  outline: 0;
}

@media (min-width: 768px) {
  .next-question  {
    padding: 0 40px;
  }
}

.submit-quiz {
  // margin-top: 30px;
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  height: 60px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-quiz:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.submit-quiz:hover:after {
  transform: translate(0, 0);
}

.submit-quiz:active {
  background-color: #7aba96;
  outline: 0;
}

.submit-quiz :hover {
  outline: 0;
}

@media (min-width: 768px) {
  .submit-quiz  {
    padding: 0 40px;
  }
}

.home-button {
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.home-button:hover:after {
  transform: translate(0, 0);
}

.home-button:active {
  background-color: #7aba96;
  outline: 0;
}

.home-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .home-button{
    padding: 0 40px;
  }
}
