body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

input {
  margin : 1em 0em 1em 0em;
}

div {
  width: 100%;
}

input {
  width: 75%;
}

.home {
  display: flex;
  align-content: end;
  justify-content: flex-end;
  width: 75%;
  margin-top: 6em;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.correct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrong {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 38%;
  width: 75%;
}
.buttons div {
  width: 13%
}
