body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #438f85;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.logo {
  font-family: 'Philosopher', sans-serif;
  font-size: 80pt;
}

.body {
   display: flex;
   flex-direction: column;
 }

.main-menu{
  padding-top: 30px;
  font-family: 'Philosopher', sans-serif;
  font-size: 25pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-quiz{
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.new-quiz:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.new-quiz:hover:after {
  transform: translate(0, 0);
}

.new-quiz:active {
  background-color: #ffdeda;
  outline: 0;
}

.new-quiz:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .new-quiz {
    padding: 0 40px;
  }
}

.join-quiz {
    align-items: center;
    background-color: #7aba96;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .join-quiz:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }

  .join-quiz:hover:after {
    transform: translate(0, 0);
  }

  .join-quiz:active {
    background-color: #ffdeda;
    outline: 0;
  }

  .join-quiz:hover {
    outline: 0;
  }

  @media (min-width: 768px) {
    .join-quiz {
      padding: 0 40px;
    }
  }



  