body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #438f85;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.logo {
  font-family: 'Philosopher', sans-serif;
  font-size: 80pt;
}

.body {
   display: flex;
   flex-direction: column;
 }


.main-menu{
  padding-top: 25px;
  font-family: 'Philosopher', sans-serif;
  font-size: 25pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-quiz{
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.new-quiz-button {
  background-color:#7aba96 ;
  border: none;
  font-size: 18pt;
}

.join-quiz-button {
  background-color:#7aba96 ;
  border: none;
  font-size: 18pt;
}

form.join-quiz-button {
  padding-top: 15px;
}

.new-quiz:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.new-quiz:hover:after {
  transform: translate(0, 0);
}

.new-quiz:active {
  background-color:#7aba96;
  outline: 0;
}

.new-quiz:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .new-quiz {
    padding: 0 40px;
  }
}

.join-quiz {
  margin-top: 20px;
    align-items: center;
    background-color: #7aba96;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .join-quiz:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }

  .join-quiz:hover:after {
    transform: translate(0, 0);
  }

  .join-quiz:active {
    background-color: #7aba96;
    outline: 0;
  }

  .join-quiz:hover {
    outline: 0;
  }

  @media (min-width: 768px) {
    .join-quiz {
      padding: 0 40px;
    }
  }

  .search {
    width: 140%;
    height: 50px;
    background-color: rgba(245, 245, 245, 0.776);
    font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  }

  h6 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20pt;
    margin-bottom: 4px;
  }

  .quiz-name {
    // display: flex;
    // align-items: center;
    width: 130%;
    height: 50px;
    background-color: rgba(245, 245, 245, 0.776);
    font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  }

  .quiz-subject {
    width: 130%;
    height: 50px;
    background-color: rgba(245, 245, 245, 0.776);
    font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  margin-bottom: 10px;
  }

  .submit-name {
    align-self: center;
    background-color: #8ed0dff5;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    border-color: #111;
    color: #111;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .submit-name:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }

  .submit-name:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

.quiz-list {
  font-family: 'Rajdhani', sans-serif;
    font-size: 23px;
    color:black;
}
a {
  color: black;
}
a:hover {
  // color: rgb(71, 28, 114);
  color: #8ed0dff5;
}


