.logo {
  font-family: 'Philosopher', sans-serif;
  font-size: 80pt;
}

.score {
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
}

.quiz-result {
  font-size: 73px;
  font-family: 'Rajdhani', sans-serif;
  text-decoration-line: underline;
  text-decoration-thickness: 8px;
}

.quiz-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.quiz-details h5 {
  font-family: 'Redressed', cursive;
  margin: 5px;
  font-size: 20px;
}

.score {
  margin-bottom: 0;
}


.popup {
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  align-items: center;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.popup:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.popup:hover:after {
  transform: translate(0, 0);
}

.popup:active {
  background-color: #7aba96;
  outline: 0;
}

.popup:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .popup {
    padding: 0 40px;
  }
}

.home {
  display: flex;
  align-content: end;
  justify-content: flex-end;
  padding: 0 40px;
  padding-top: 0;
}

.reattempt-quiz {
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  align-items: center;
  margin-top:40px;
  background-color: #7aba96;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reattempt-quiz:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.reattempt-quiz:hover:after {
  transform: translate(0, 0);
}

.reattempt-quiz:active {
  background-color: #7aba96;
  outline: 0;
}

.reattempt-quiz:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .reattempt-quiz {
    padding: 0 40px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
}
////////

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.your-score{
display: flex;
justify-content: center;
}

// .your-score > i {
//   color: rgba(213, 166, 46, 0.982);
//   padding-right: 10px;
// }
